<h1>Share Card <%= "#{@card.id}" %> with another user!</h1>

<h3>Form for entering User email goes here</h3>

<%= form_tag share_card_path(@card.id), method: :post do %>
 	<p>
		<%=label_tag "Enter email the User you are sharing this card with: " %>
		<%=text_field_tag :user_email %>
	</p><p>
		<%= submit_tag :share %>
	<p>
<% end %>

<hr>
<% @users.each do |user| %>   
	<p>
		<%= "#{user.fname} #{user.lname} "%> 
		<%= link_to user.email, user %>
	</p>
<% end %>