<h1>Share Card <%= "#{@card.id}" %> with another user!</h1>

<h3>Form for entering User email goes here</h3>

<%= form_for @share, :url => 'sharecard/#{@card.id}' do |f| %>
 	<p>
		<%=f.label "Enter email the User you are sharing this card with: " %>
		<%=f.text_field :user_id %>

		<%= f.hidden_field :card_id, :value => "#{@card.id}" %>
	</p><p>
		<%= f.submit :create %>
	<p>
<% end %>

<hr>
<% @users.each do |user| %>   
	<p>
		<%= "#{user.fname} #{user.lname} "%> 
		<%= link_to user.email, user %>
	</p>
<% end %>