<!DOCTYPE html>
<html>
	<head>
	  <title>Wallet</title>
			<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css">
			<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="flash">
			<%= flash[:notice] if flash[:notice] %> 
			<%= flash[:alert] if flash[:alert] %>
		</div>
			
		<%= yield %>

	</body>
</html>
